{% extends 'base.html'%}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="container-fluid justify-space-between">
            <div class="p-0 row">
                <form action="" method="GET" class="px-5 my-2">
                    <h5 class="mb-3">Buscador de Turnos por Nombre/Apellido o Rango de Fechas</h5>
                    <label for="fecha_desde">Nombre/Apellido del Paciente:</label>
                    <input type="text" placeholder="Nombre/Apellido" name="paciente">
                    <label for="fecha_desde">Fecha desde:</label>
                    <input type="date" placeholder="Fecha desde" name="fecha_desde">
                    <label for="fecha_desde">Fecha hasta:</label>
                    <input type="date" placeholder="Fecha hasta" name="fecha_hasta">
                    <label for="asistencia">Asistencia:</label>
                    <select name="asistencia">
                    <option value="0">No</option>
                    <option selected="selected" value="1">Sí</option>
                    <option value="2">Pendiente</option>
                    </select>    
                    <input type="submit" value="Aplicar Filtros">
                </form>
            </div>
        </div>
    </div>
    <h1 class="mt-4 text-center">Listado de Asistencia de Pacientes</h1>
    {% if lista_turnos %}
    <div class="row table-responsive px-3">
        <table class="table table-success border">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Paciente</th>
                    <th class="text-center" scope="col">Medico</th>
                    <th class="text-center" scope="col">Fecha y Hora</th>
                    <th class="text-center" scope="col">Asistencia</th>
                </tr>
            </thead>
            <tbody>
                    {% for turno in lista_turnos %}
                    <tr>
                        <td class="text-center">{{ turno.paciente.paciente_apellido }}{{", "}}{{ turno.paciente.paciente_nombre }}</td>
                        <td class="text-center">{{"Dr/a. "}}{{ turno.profesional.last_name }}{{", "}}{{ turno.profesional.first_name }}</td>
                        <td class="text-center">{{ turno.diahora }}</td>
                        <td class="text-center">{{ turno.get_asistencia_display }}</td>
                    </tr>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    {% else %}

    <h4 class="mx-5">No se encontraron datos.</h4>

    {% endif %}
</div>
{% endblock %}