{% extends 'base.html'%}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="container-fluid justify-space-between">
            <div class="p-0 row">
                <form action="" method="GET" class="px-5 my-2">
                    <h5 class="mb-3">Buscador de Productos por Nombre y Nro Pedido</h5>
                    <label for="producto">Nombre/Categoria Producto</label>
                    <input type="text" placeholder="Nombre/Categ" name="producto">
                    <label for="num_pedido">Pedido #</label>
                    <input type="text" placeholder="Nro Pedido" name="num_pedido">                    
                    <input type="submit" value="Buscar">
                </form>
            </div>
        </div>
    </div>
    <h1 class="mt-4 text-center">Listado de Productos por Pedido - Taller</h1>

    {% if lista_items_pedidos %}
    <div class="row table-responsive px-3">
        <table class="table table-success border">
            <thead>
                <tr>
                    <th class="text-center" scope="col"># Pedido</th>
                    <th class="text-center" scope="col">Paciente</th>
                    <th class="text-center" scope="col">Producto</th>
                    <th class="text-center" scope="col">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                    {% for pedido in lista_items_pedidos %}
                    <tr>
                        <td class="text-center">{{ pedido.pedido.id }}</td>
                        <td class="text-center">{{ pedido.pedido.paciente.paciente_apellido }}{{", "}}{{ pedido.pedido.paciente.paciente_nombre }}</td>
                        <td class="text-center">{{"Cat: "}}{{pedido.product.prod_category}}{{" | Nombre: "}}{{pedido.pedido.product.prod_title}}{{" | Cercania: "}}{{pedido.product.prod_lente_cercania}}{{" | Lado: "}}{{pedido.product.prod_lente_lado}}{{" | Armazon: "}}{{pedido.product.prod_lente_armazon}}{{" |"}}</td>
                        <td class="text-center">{{ pedido.cantidad_pedido }}</td>
                    </tr>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    {% else %}

    <h4 class="mx-5">No se encontraron items.</h4>

    {% endif %}
</div>
{% endblock %}